body {
    margin: 0;
}

.game .time {
    float: left;
    margin-right: 20px;
}

.game .table {
    float: left;
    padding: 0 10px;
    margin-right: 20px;
    border: 1px solid white;
}

.game .close {
    float: right;
    padding-right: 10px;
}

.game {
    width: 100%;
    color: white;
    padding: 3px;
    border-bottom: 2px solid black;
}

li:nth-child(3n) .game {
    background: red;
}

li:nth-child(3n + 1) .game{
    background: green;
}

li:nth-child(3n + 2) .game{
    background: blue;
}

li:last-child .game {
    border-bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.root {
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
    flex: 1;
}

.game-list, .game-form {
    width: 100%;
}

.game-form {
    margin-left: 50px;
}

form label {
    display: block;
}